{% block loginform %}
    <div class="box">
        <div align="left"><h3>Already a member? Sign in.</h3></div>
        {% if error %}
            <div align="center" id="error_for_email" class="form_error">&darr;&nbsp;{{ error.messageKey|trans(error.messageData, 'security') }}&nbsp;&darr;</div>
        {% endif %}
        <form method="post" action="{{ path('app_login') }}">
            <table cellspacing="5" width="100%">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td align="right" width="88">
                                    <label for="user">Username or email:</label>
                                </td>
                                <td align="left">
                                    <input type="text" name="username" id="user" value="{{ last_username }}" size="25" required autofocus/>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">
                                    <label for="password">Password:</label>
                                </td>
                                <td>
                                    <input type="password" name="password" id="password" value="" size="25"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
                <td align="right">
                    <input type="image" name="commit" src="{{ asset('images/login.gif') }}" alt="Login"/>
                </td>
                </tr>
            </table>
            <a style="margin-left:5px" title="Forgot your password?" onclick="Modalbox.show(this.href, {title: this.title, width: 525});
                return false;"
               href="/forgotPassword">Forgot your password?</a>
        </form>
    </div>
{% endblock %}