{% block rightColumn %}		

    <div id="item">
        <img id="sideImage" src="{{ asset('images/magnifier.gif') }}" alt="Magnifier"><b>Search</b>
        <img title="header=[What Is This?] 
             body=[Use this form to search for available groups and applications on iSimulate.]
             " src="{{ asset('images/question-mark.gif') }}" alt="Question-mark">		
        <form method="get" style="margin: 0;" action="{{ path('search') }}">			
            <input type="text" name="query" id="query" value="" class="search">		
        </form>
    </div>
    {% if hasNotifications %}
        <div id="item">
            <img src="{{ asset('images/exclamation.gif') }}" id="sideImage"><b>Notifications</b><br>
            {% set i = 1 %}
            {% for notification in markedGroupRequests %}			
                <div class="notification" id="notification{{ i }}">
                    <div style="float:right; padding-left: 3px;">
                        <a href="#" onclick="new Ajax.Updater(
                                        'item{{ i }}',
                                        '/user/acknowledge/group/Indian+Economy',
                                        {
                                            asynchronous: true,
                                            evalScripts: false,
                                            onComplete: function (request, json) {
                                                new Effect.Fade('indicator', {});
                                                new Effect.BlindUp('notification1', {});
                                            },
                                            onLoading: function (request, json) {
                                                new Effect.Appear('indicator', {});
                                            }
                                        });
                                return false;">
                            <img id="close" src="{{ asset('images/close_box.png') }}" alt="Close_box"></a>
                    </div>
                    <div>			
                        &middot; 
                        {% if notification.approved %}
                            Membership granted to the <a href="{{ path('group_show',{'groupName': notification.groupName}) }}">{{ notification.groupName }}</a> group.
                        {% else %}
                            Your request to join the link group has been denied.
                        {% endif %}
                    </div>
                </div>			
                {% set i = i + 1 %}
            {% endfor %}


            {% for notification in markedApplicationRequests %}
                <div class="notification" id="notification{{ i }}">
                    <div style="float:right; padding-left: 3px;">
                        <a href="#" onclick="new Ajax.Updater(
                                        'item{{ i }}',
                                        '/user/acknowledge/group/Indian+Economy',
                                        {
                                            asynchronous: true,
                                            evalScripts: false,
                                            onComplete: function (request, json) {
                                                new Effect.Fade('indicator', {});
                                                new Effect.BlindUp('notification1', {});
                                            },
                                            onLoading: function (request, json) {
                                                new Effect.Appear('indicator', {});
                                            }
                                        });
                                return false;">
                            <img id="close" src="{{ asset('images/close_box.png') }}" alt="Close_box"></a>
                    </div>
                    <div>
                        &middot; 
                        {% if notification.isDeleted %}
                            <a href="{{ path('group_show',{'groupName': notification.groupName}) }}">{{ notification.groupName }}</a> is no longer subscribed to the <a href="{{ path('application_index',{'applicationName': notification.application_name }) }}">{{ notification.application_name }}</a> application.
                        {% elseif notification.approved %}						
                            <a href="{{ path('group_show',{'groupName': notification.groupName}) }}">{{ notification.groupName }}</a> is now subscribed to the <a href="{{ path('application_index',{'applicationName': notification.application_name }) }}">{{ notification.application_name }}</a> application.						
                        {% else %}
                            <a href="{{ path('group_show',{'groupName': notification.groupName}) }}">{{ notification.groupName }}</a> has been denied access to the <a href="{{ path('application_index',{'applicationName': notification.application_name }) }}">{{ notification.application_name }}</a> application.
                        {% endif %}					
                    </div>					
                </div>			
                {% set i = i + 1 %}
            {% endfor %}

            {% for groupName ,numRequests in groupRequests %}
                <div>

                    {% set str = numRequests~" "~groupName~" Membership Request" %}
                    {# {% if numRequests > 1  %}
                         {% set str = srt~"s" %}
                     {% endif %}#}
                    &middot; <a href="groupmembershiprequest">{{ str }}</a>				
                </div>
                {% set i = i + 1 %}
            {% endfor %}

            {% for applicationName,numRequests in applicationRequests %}
                <div>
                    {% set str = numRequests~" "~applicationName~" Subscription Request" %}
                    {# {% if numRequests > 1  %}
                         {% set str = srt~"s" %}
                     {% endif %}#}
                    &middot; <a href="applicationSubscriptionRequest">{{ str }}</a>
                </div>
                {% set i = i + 1 %}
            {% endfor %}
        </div>
        {% if (groupRequestsCount == 0 and applicationRequestsCount == 0) %}
            <div>&nbsp;</div>
        {% endif %}
    {% endif %}

    {% if recentSimulations > 0 %}
        <div id="item">
            <img src="{{ asset('images/user.gif') }}" id="sideImage"><b>My Recent Activity</b>
            <img src="{{ asset('images/question-mark.gif') }}" title="header=[What Is This?] 
                 body=[This is a list of the countries you have recently viewed. Click on a country to display its latest data.]">

            {% for simulation in recentSimulations %}
                <div style="color: #86603C;">
                    {#            <div style="color: #86603C; padding-top: 7px;">#}
                    {% if date(simulation.rs_created_at, app.user.timezone) == date("now", app.user.timezone) %}
                        Today
                    {% elseif date(simulation.rs_created_at, app.user.timezone) == date("yesterday", app.user.timezone) %}
                        Yesterday
                    {% elseif simulation.rs_created_at|date("Y", app.user.timezone) != "now"|date("Y",app.user.timezone) %}
                        {{ simulation.rs_created_at|date("M j, Y", app.user.timezone) }}                    
                    {% else %}
                        {{ simulation.rs_created_at|date("M j", app.user.timezone) }} 
                    {% endif %}
                </div>
                <div>				
                    <span style="font-size: 9px; color: #808080; float: right;">
                        {{ simulation.groupName~" "~simulation.application_name }}</span>
                    <a href="#">{{simulation.entity_name}}</a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if applications %}
        <div id="item">
            <img src="{{ asset('images/plugin.gif') }}" id="sideImage">
            <b>Application Management</b><br>
            {% for application in applications %}
                <a href="{{ path('application_index',{'applicationName': application.application_name}) }}">{{ application.application_name }}</a>
                {% if not loop.last %}
                    &middot; 
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <div id="item">
        <img src="{{ asset('images/time.gif') }}" id="sideImage">
        <b>iSimulate Updates</b><br>
        {% for update in updates %}
            <i>{{ update.created_at|date("M j") }}</i>&nbsp;&nbsp;{{ update.text|raw }}<br><br>
        {% endfor %}	
    </div>
{% endblock %}